.CarouselContainer {
	@apply overflow-x-scroll justify-start mb-2 sm:mb-10 max-w-[1040px] bg-[#0f1624] flex sm:justify-between sm:ml-8 sm:first-of-type:ml-0;

	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	@media only screen and (max-width: 640px) {
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
		touch-action: pan-x;
	}
}

.CarouselItem {
	@apply ml-8 sm:ml-0 min-w-[120px] bg-[#0e131f] p-1 content-start rounded-[3px] overflow-visible relative h-fit sm:max-w-[124px] sm:p-0 md:max-w-[196px] md:bg-[#0f1624];

	@media only screen and (max-width: 640px) {
		scroll-snap-align: start;
	}
}

.CarouselItemTitle {
	@apply text-base sm:text-xl sm:mb-1 font-bold md:text-2xl md:flex md:bg-clip-text md:mb-2 md:bg-carouselItemTitle;

	@media screen and (min-width: 769px) {
		-webkit-text-fill-color: transparent;
	}
}

.CarouselItemImg {
	@apply ml-4 overflow-visible sm:ml-5 sm:w-full;

	@media screen and (min-width: 641px) {
		-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	}

	@media only screen and (max-width: 640px) {
		-webkit-mask-image: none;
	}
}

.CarouselItemText {
	@apply text-[10px] leading-4 sm:text-[12px] sm:leading-[18px] sm:pr-8 md:text-base text-transparent-w-75 md:pr-4;
}
