@tailwind base;
@tailwind components;
@tailwind utilities;

@import './header.scss';
@import './footer.scss';
@import './home/accomplishments.scss';
@import './home/technologies.scss';
@import './home/timeline.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: Space Grotesk, Inter, Montserrat, sans-serif;
	scroll-behavior: smooth;
	background-color: #0f1624;
	color: #f2f5f7;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

.Section {
	@apply flex flex-col w-[calc(100vw-32px)] pt-4 px-4 pb-0 sm:w-auto sm:pt-6 sm:px-12 md:pt-8 mx-auto max-w-[1040px] relative overflow-hidden grid-cols-2;
}

.Section-nopadding {
	@apply p-0 #{!important};
}

.Section-row {
	@apply flex-row #{!important};
}

.Section-grid {
	@apply grid #{!important};
}

.SectionTitle {
	@apply text-[32px] leading-10 mb-2 p-0 max-w-full sm:text-5xl sm:mb-3 md:text-[56px] md:leading-[56px] md:mb-4 w-max bg-sectionTitle bg-clip-text font-extrabold;
	-webkit-text-fill-color: transparent;
}

.SectionTitle-main {
	@apply SectionTitle text-[28px] leading-[32px] pt-4 px-0 pb-2 sm:text-[56px] sm:leading-[56px] sm:pt-10 sm:pb-3 md:text-[64px] md:leading-[72px] md:pt-[58px] md:pb-4 #{!important};
}

.SectionText {
	@apply text-base pb-4 sm:max-w-[670px] sm:text-xl sm:leading-8 sm:pb-6 md:max-w-[800px] md:text-2xl md:leading-10 md:pb-14 text-transparent-b-50 font-light;
}

.SectionDivider {
	@apply w-8 h-0.5 sm:w-12 sm:h-1 md:w-16 md:h-1.5 rounded-[10px] bg-white bg-sectionDivider;
}

.SectionSubText {
	@apply text-sm leading-[22px] sm:max-w-[672px] sm:text-base md:max-w-[800px] font-light md:text-lg md:leading-8 text-transparent-b-75;
}

.SecondaryBtn {
	@apply mt-4 mb-10 py-2 px-4 w-full text-sm leading-4 sm:mt-6 sm:mb-16 sm:py-4 sm:px-6 sm:w-fit sm:text-xl sm:leading-none text-primary bg-none border border-transparent-b-30 rounded-full font-semibold md:text-lg md:mt-8 md:mb-20 cursor-pointer duration-400 ease-out focus:outline-none hover:text-bg1 hover:bg-primary hover:border-primary active:bg-[#e0e4eb] active:border-[#304169] active:shadow-secondaryBtn;
}

.ButtonBack {
	@apply w-full h-8 text-sm mb-8 sm:w-[184px] sm:h-12 sm:text-base sm:mb-16 md:w-[262px] md:h-16 rounded-50 md:text-2xl font-semibold flex justify-center items-center md:mb-20 bg-buttonBack cursor-pointer duration-500 ease-out relative overflow-hidden;
}

.ButtonFront {
	@apply text-sm sm:text-base border-none rounded-50 flex justify-center items-center absolute top-0 left-0 w-full h-full bg-buttonFront duration-400 ease-out md:text-2xl font-semibold cursor-pointer hover:opacity-0 focus:outline-none active:opacity-100 active:shadow-buttonFront disabled:opacity-50 disabled:shadow-buttonFront disabled:bg-buttonBack;
}
